<template>
  <div class="box">
    <el-scrollbar class="scrollable">
      <div class="card-row">
        <el-card
          shadow="always"
          v-for="(item, index) in tableData"
          :key="index"
        >
          <div slot="header" class="clearfix">
            <span>{{ item.model_name }}</span>

            <el-button
              style="float: right; color: white"
              size="mini"
              @click="assess(item)"
              >评估
            </el-button>
          </div>
          <el-scrollbar class="scrollable-content">
            <div class="content">
              {{ item.desc }}
            </div>
          </el-scrollbar>
        </el-card>
      </div>
    </el-scrollbar>
  </div>
</template>
<script>
import RouterTable from "@/components/common/RouterTable.vue";
import { getModels } from "@/api/Model";

export default {
  name: "getAssess",
  components: {
    RouterTable,
  },
  data() {
    return {
      tableData: [],
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    async init() {
      this.$store.dispatch("loading",true);

      var res = await getModels();

      if (res.code == "200") {
        this.tableData = res.data;
        this.tableData.forEach((item, index) => {
          item.desc =
            "这些样式将 .card-row 类设置为一个网格布局，并将其子元素分为四列。grid-gap 属性用于在卡片之间添加间距。这些样式将 .card-row 类设置为一个网格布局，并将其子元素分为四列。grid-gap 属性用于在卡片之间添加间距。这些样式将 .card-row 类设置为一个网格布局，并将其子元素分为四列。grid-gap 属性用于在卡片之间添加间距这些样式将 .card-row 类设置为一个网格布局，并将其子元素分为四列。grid-gap 属性用于在卡片之间添加间距。这些样式将 .card-row 类设置为一个网格布局，并将其子元素分为四列。grid-gap 属性用于在卡片之间添加间距。这些样式将 .card-row 类设置为一个网格布局，并将其子元素分为四列。grid-gap 属性用于在卡片之间添加间距。";
        });
      }
      this.$store.dispatch("loading",false);
    },
    async assess(item) {
      this.$router.push({
        path: "/Assess",
        query: {
          model_no: item.model_no,
        },
      });
    },
  },
};
</script>
<style lang="less" scoped>
@import "../../assets/css/Humanitiel";
</style>
<style lang="less">
.card-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  padding: 20px;
  max-height: 80%;
}

.card-row > * {
  width: 100%;
}

.clearfix {
  font-size: 17px;
  color: #cdfbff;
  border: 0;
}

.card-row .el-card {
  color: #ffffff;
  background-color: #375b8f4a;
  margin-bottom: 10px;
  height: 250px;
  border: 0;
}

.card-row .el-card__header {
  border-bottom: none !important;
}
.el-card__body, .el-main{
  padding: 10px;
}

.card-row .el-card__body {
}

.card-row .el-button {
  background: #1e67ea1f;
  border: none;
  color: #ffffff;
}

.box {
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

.scrollable-content {
  font-size: 7px;
  height: calc(250px - 100px); /* 减去标题的高度 */
}

.scrollable {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  background-color: #1b294f;
  height: 85vh; /* 减去标题的高度 */
}
::v-deep .el-input__inner {
  background: #213150;
  border: none;
  color: white;
}
::v-deep .select-left .el-input__inner {
  background: #2a4061;
}
.content{
  font-size: 12px;
  padding: 8px;
}
</style>
