<template>
  <div
    v-if="!showMapData"
    class="box"
    style="display: flex; justify-content: center"
  >
    <div class="table">
      <div class="select">
        <div class="title-choose">
          <div class="select-left">
            <div class="choose">
              <div class="select-left">
                <div class="title">评估与区划模型</div>
                <el-select
                  v-model="searchForm.model"
                  placeholder="请选择"
                  value-key="model_no"
                  :popper-append-to-body="false"
                >
                  <el-option
                    v-for="(item, index) in modelOption"
                    :key="index"
                    :label="item.model_name"
                    :value="item"
                    @click.native="search()"
                  >
                  </el-option>
                </el-select>
              </div>
            </div>
          </div>
          <div>
            <el-button type="primary" icon="el-icon-edit" @click="assess"
              >评估</el-button
            >
          </div>
        </div>
      </div>
      <div class="table-box">
        <router-table
          ref="routerTable"
          :tableData="tableData"
          :tableLabel="tableLabel"
          tableMaxHeight="65vh"
        >
          <template v-slot:head>
            <div style="display: flex"></div>
          </template>
          <template v-slot:bottom>
            <div
              style="
                display: flex;
                padding: 20px 0px 0px 10px;
                align-items: center;
              "
            >
              <span style="width: 200px">时间范围</span>
              <div style="width: 150px">
                <el-input v-model="assessForm.start_year"></el-input>
              </div>
              <span style="padding: 0px 70px 2px 70px">至</span>
              <div style="width: 150px">
                <el-input v-model="assessForm.end_year"></el-input>
              </div>
            </div>
          </template>
        </router-table>
      </div>
    </div>
  </div>
  <div v-else style="width: 20%; height: 50%">
    <div class="title-choose title-choose1" v-if="popupVisible">
      <div class="table-box table-box1">
        <router-table
          :tableData="tableData"
          :tableLabel="tableLabel1"
          tableMaxHeight="55vh"
        >
          <template v-slot:head>
            <div
              style="display: flex; justify-content: flex-end; font-size: 24px"
              @click="close"
            >
              <div style="width: 25px">x</div>
            </div>
          </template>
        </router-table>
      </div>
    </div>
    <el-button
      class="again"
      type="primary"
      icon="el-icon-edit"
      @click="reAssess"
      style="margin: 20px 40px"
      >重新评估</el-button
    >
    <radar
      :text="text"
      :indicator="indicator"
      :series="series"
      :splitArea="splitArea"
      :legend="legend"
    ></radar>
    <div class="bottom-table">
      <router-table
        :tableData="btTable"
        :tableLabel="tableLabe2"
        tableMaxHeight="35vh"
      >
      </router-table>
    </div>
    <div style="margin-top: 15px">
      <div class="map-time-legend" style="width: 350px">
        <div class="map-legend" style="width: 350px">
          <div class="legend-bg" :class="'layerAssess'">
            <span
              v-for="(v, index) in layerAssess"
              :style="{ backgroundColor: layercolor[index], color: 'black' }"
              >{{ v }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RouterTable from "@/components/common/RouterTable.vue";
import { getAssess, humanities } from "@/api/Assess";
import geoJsonData from "@/config/Assess/geoJsonData.json";
import { getModels } from "@/api/Model";
import Radar from "@/components/common/Radar.vue";

export default {
  name: "Assess",
  components: {
    RouterTable,
    Radar,
  },
  data() {
    return {
      layerAssess: ["低风险", "较低风险", "中等风险", "较高风险", "高风险"],
      layercolor: ["#00FF00", "#FFFF00", "#FFA500", "#FF4500", "#FF0000"],
      humanitiesData: [],
      btTable: [],
      showMapData: false,
      searchForm: {
        model: {
          model_no: "",
        },
      },
      modelOption: [],
      assessForm: {
        start_year: "2020",
        end_year: "2023",
      },
      tableData: [],
      tableLabel: [
        {
          label: "指标名称",
          width: "",
          prop: "second_cate_name",
          align: "left",
        },
        { label: "权重", width: "200", prop: "weight", input: true },
      ],
      tableLabe2: [
        {
          label: "国家",
          width: "150",
          prop: "country",
          align: "center",
        },
        { label: "风险等级", width: "200", prop: "risk_level",  align: "center", },
        { label: "风险值", width: "200", prop: "risk_score",  align: "center", },
      ],
      tableData1: [],
      tableLabel1: [
        {
          label: "风险类型",
          width: "400",
          prop: "second_cate_name",
          align: "left",
        },
        { label: "风险值", width: "200", prop: "weight", input: false },
      ],
      text: "",
      indicator: [],
      series: [],
      legend: [],
      splitArea: {},
      popupVisible: false,
      popupContent: {},
    };
  },
  mounted() {
    if (this.$route.query.model_no) {
      this.searchForm.model.model_no = this.$route.query.model_no;
    }
    this.init();
  },
  methods: {
    close() {
      this.popupVisible = false;
    },
    async init() {
      this.$store.dispatch("loading", true);
      var res = await getModels();

      if (res.code == "200") {
        this.modelOption = res.data;

        if (this.modelOption.length > 0) {
          if (!this.$route.query.model_no) {
            this.searchForm.model = this.modelOption[0];
          } else {
            this.modelOption.forEach((item) => {
              if (item.model_no == this.$route.query.model_no) {
                this.searchForm.model = item;
              }
            });
          }
        }
      }
      this.$store.dispatch("loading", false);
      this.search();
    },
    async search() {
      var res = await getAssess({
        model_no: this.searchForm.model.model_no,
      });
      if (res.code == "200") {
        this.tableData = res.data;
      }
      this.$store.dispatch("loading", false);
    },
    async reAssess() {
      this.$store.dispatch("initialize");
      this.showMapData = !this.showMapData;
    },
    async assess() {
      this.$store.dispatch("loading", true);
      if (!this.tableData || this.tableData.length < 1) {
        return this.$message.warning("暂无数据");
        return;
      }
      for (var item of this.tableData) {
        if (
          !item.weight ||
          isNaN(parseFloat(item.weight)) ||
          !(0 < parseFloat(item.weight) && 1 > parseFloat(item.weight))
        ) {
          this.$message.warning(item.second_cate_name + "：请输入正确权重");
          return;
        }
        item.weight = parseFloat(item.weight);
      }
      var res = await humanities(this.assessForm, this.tableData);

      if (res.code == 200) {
        this.humanitiesData = res.data;
        // 重构数据 渲染评估下方列表
        this.btTable = this.humanitiesData.risk.country.map((country, index) => ({
          country,
          risk_level: this.humanitiesData.risk.risk_level[index],
          risk_score: this.humanitiesData.risk.risk_score[index],
        }));
        console.log( this.btTable);
      }
      this.$store.dispatch("loading", false);
      this.showMap();
    },
    async showMap() {
      var _this = this;
      this.$nextTick(() => {
        L.geoJSON(geoJsonData, {
          style: function (feature) {
            return {
              fillColor: _this.getColor(feature.properties.name),
              color: "transparent", // 设置边框颜色为透明
              fillOpacity: 0.7,
            };
          },
          onEachFeature: function (feature, layer) {
            // 为每个要素添加点击事件
            layer.on("click", function (e) {
              console.log("Clicked on feature with id:", feature);
              // 打开弹窗
              _this.popupVisible = true;
              // console.log(_this.popupVisible);
              // 关闭 Leaflet 的默认弹窗
              // layer.closePopup();
            });
          },
        }).addTo(_this.$GlobalMap.map);

        // const latLng = L.latLng(40.7128, 40.006);
        // const zoomLevel = 2.3;
        // _this.$GlobalMap.map.setView(latLng, zoomLevel);
        _this.showMapData = true;
        _this.showRadar();
      });
    },
    // 地图点击的弹窗数据
    showTable(value) {
      if (this.humanitiesData.risk.country.indexOf(value) != -1) {
        var index = this.humanitiesData.risk.country.indexOf(value);
        var score = this.humanitiesData.risk.risk_score[index];
        return score;
      }
      return "";
    },
    async showRadar() {
      this.indicator = [];
      this.humanitiesData.risk.country.forEach((item) => {
        this.indicator.push({
          name: item,
          max: 1,
        });
      });
      this.series = [];

      this.series = [
        {
          name: "",
          type: "radar",
          tooltip: {
            trigger: "item",
            confine: true,
            formatter: function (req) {
              //console.log(req);
              var res = "";
              req.data.value.forEach((item, index) => {
                res =
                  res +
                  req.data.value_1[index] +
                  "：" +
                  req.data.value_2[index] +
                  "<br/>";
              });
              return res;
            },
          },
          areaStyle: {},
          data: [
            {
              value: this.humanitiesData.risk.risk_score,
              name: "",
              value_1: this.humanitiesData.risk.country,
              value_2: this.humanitiesData.risk.risk_level,
            },
          ],
        },
      ];
      this.splitArea = {
        // areaStyle: {
        //   color: ['#00FF00', '#FFFF00', '#FFA500', '#FF4500', '#FF0000'],
        //   shadowColor: 'rgba(0, 0, 0, 0.2)',
        //   shadowBlur: 10
        // }
      };
    },
    getColor(value) {
      if (this.humanitiesData.risk.country.indexOf(value) != -1) {
        var index = this.humanitiesData.risk.country.indexOf(value);
        var level = this.humanitiesData.risk.risk_level[index];
        if (level == "低风险") {
          return "#00FF00";
        } else if (level == "较低风险") {
          return "#FFFF00";
        } else if (level == "中等风险") {
          return "#FFA500";
        } else if (level == "较高风险") {
          return "#FF4500";
        } else if (level == "高风险") {
          return "#FF0000";
        }
      }
      return "";
    },
  },
};
</script>
<style lang="less" scoped>
@import "../../assets/css/Nature";
@import "../../assets/css/Humanitiel";
</style>
<style lang="less" scoped>
.again {
  position: fixed;
  right: 0;
}
.title {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: "FZCuHeiSongS-B-GB";
  height: 35px;
  width: 150px;
  padding-left: 20px;
}

.searchForm .el-form-item__label {
  display: flex;
  font-size: 17px;
}

.el-form-item {
  margin-bottom: 0px;
}

.choose {
  background: #2a4061;
}

::v-deep .el-input__inner {
  background: #2a4061;
  border: none;
  color: white;
}

::v-deep .el-button--primary {
  background: #2a4061;
  color: white;
  height: 35px;
  border: none;
}

.searchForm .el-form-item__label {
  padding-right: 35px;
}

::v-deep .el-table th.el-table__cell > .cell {
  font-weight: 0;
}

.el-form-item__content {
  line-height: 0px;
}

::v-deep .select-left .el-input__inner {
  height: 33px;
}

::v-deep .el-input__icon {
  line-height: 30px;
}

.title-choose1 {
  position: fixed;
  width: 10%;
  top: 150px;
  left: 900px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto;
}

.table-box1 {
  width: 600px;
}
.bottom-table {
  position: fixed;
  width: 550px;
  bottom: 25px;
  left: 50px;
}
</style>
