<template>
  <div class="box" style="display: flex; justify-content: center">
    <div class="table">
      <div class="select">
        <div class="title-choose">
          <div class="title">用户列表</div>
          <div class="addUser" @click="dialogFormNew = true">
            <el-button icon="el-icon-plus">用户新增</el-button>
          </div>
        </div>
      </div>
      <div class="table-box">
        <router-table
          ref="routerTable1"
          :tableData="rowDelData"
          :tableLabel="rowLabel"
          tableMaxHeight="75vh"
          :fixColumn="true"
          :fixEdit="true"
          :fixRemove="true"
          :fixEditName="'密码重置'"
          :fixRemoveName="'禁用'"
          @edit="changePas"
          @remove="disable"
        >
        </router-table>
      </div>
    </div>
    <div class="dialog-wrapperOne">
      <el-dialog
        title="密码重置"
        :visible.sync="dialoginput"
        width="40%"
        :modal-append-to-body="false"
      >
        <div style="display: flex; justify-content: center">
          <div class="label">新密码：</div>
          <el-input v-model="input" placeholder="请输入新密码"></el-input>
        </div>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialoginput = false">取 消</el-button>
          <el-button type="primary" @click="newPas()">确 定</el-button>
        </span>
      </el-dialog>
    </div>
    <div class="dialog-wrapperOne">
      <el-dialog
        title="用户新增"
        :visible.sync="dialogFormNew"
        width="40%"
        :modal-append-to-body="false"
      >
        <el-form :model="form" ref="form" :rules="rules">
          <el-form-item
            label="用户名"
            prop="name"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="密码" :label-width="formLabelWidth">
            <el-input v-model="form.password" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="邮箱" :label-width="formLabelWidth">
            <el-input v-model="form.email" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="单位" :label-width="formLabelWidth">
            <el-input v-model="form.work" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="备注" :label-width="formLabelWidth">
            <el-input v-model="form.text" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="是否为管理员" :label-width="formLabelWidth">
            <el-select v-model="form.region" placeholder="请选择">
              <el-option label="是" value="1"></el-option>
              <el-option label="否" value="-1"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormNew = false">取 消</el-button>
          <el-button type="primary" @click="submitForm(form)">新增</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import { getUser, getPas, getForbidden, postCreate } from "@/api/user/user";
import RouterTable from "@/components/common/RouterTable.vue";

export default {
  components: {
    RouterTable,
  },
  name: "Humanities",
  data() {
    return {
      System: true,
      dialogVisible: false,
      dialoginput: false,
      dialogFormNew: false,
      rowDelData: [],
      input: "",
      userId: "",
      rowLabel: [
        { label: "用户名", width: "100", prop: "user_name", align: "center" },
        {
          label: "单位",
          width: "150",
          prop: "user_work_unit",
          align: "center",
        },
        { label: "邮箱", width: "200", prop: "user_mail", align: "center" },
        { label: "状态", width: "150", prop: "user_state", align: "center" },
        { label: "备注", width: "150", prop: "user_ext", align: "center" },
        { label: "是否为管理员", width: "150", prop: "is_admin", align: "center" },
      ],
      rules: {
        name: [{ required: true, message: "用户名不能为空", trigger: "blur" }],
      },
      form: {
        name: "",
        password: "",
        email: "",
        work: "",
        text: "",
        region: "",
      },
      formLabelWidth: "120px",
    };
  },
  mounted() {
    this.loadUser();
  },
  methods: {
    // 用户的请求
    async loadUser() {
      this.$store.dispatch("loading",true);

      let res = await getUser();
      // console.log(res);
      res.data.forEach((item) => {
        // console.log(item);
        if (!item.user_password) {
          item.user_password = "sgur834";
        }
        if (item.user_state == -1) {
          item.user_state = "禁用";
        } else if (item.user_state == 1) {
          item.user_state = "正常";
        }
        if (item.is_admin == "-1") {
          item.is_admin = "否";
        } else if (item.is_admin == "1") {
          item.is_admin = "是";
        }
      });
      this.rowDelData = res.data;
      this.$store.dispatch("loading",false);

    },
    // 密码重置
    changePas(index, row) {
      this.dialoginput = true;
      // this.input = row.user_password;
      this.userId = row.id;
      // console.log(index, row);
    },
    // 禁用
    disable(index, row) {
      this.userId = row.id;
      this.$confirm("是否禁用?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          console.log(111);
          this.loadForbidden();
          this.loadUser();
        })
        .catch(() => {
          this.dialoginput = false;
        });
    },
    // 禁用请求
    async loadForbidden() {
      let res = await getForbidden({
        user_id: this.userId,
      });
      if (res.code == 500) {
        this.$message.error(res.data);
      }
    },
    // 弹窗
    setup() {
      this.dialogVisible = true;
    },
    // 弹窗的取消
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
    // 重置密码的确认
    newPas() {
      this.$confirm("是否重置密码?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.loadPas();
        })
        .catch(() => {
          this.dialoginput = false;
        });
    },
    // 重置密码请求
    async loadPas() {
      let res = await getPas({
        user_id: this.userId,
        new_password: this.input,
      });
      if (res.code == 200) {
        this.$message.success("修改成功");
        this.loadUser();
      }
      if (res.code == 500) {
        this.$message.error(res.data);
        this.input=''
         this.dialoginput = false;
      }
    },
    // 提交验证表单
    submitForm() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.loadCreate();

        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增用户请求
    async loadCreate() {
      let res = await postCreate({
        user_name: this.form.name,
        user_password: this.form.password,
        user_mail: this.form.email,
        user_work_unit: this.form.work,
        is_admin: this.form.region,
        user_ext: this.form.text,
      });
      if (res.code == 200) {
        this.loadUser();
        this.clearObjectValues(this.form);
        this.$message.success(res.message);
        this.dialogFormNew = false;
      }
      if (res.code == 500) {
        this.clearObjectValues(this.form);
        this.$message.error(res.message);
      }
    },
    // 让对象所有值为空的方法
    clearObjectValues(obj) {
      Object.keys(obj).forEach((key) => {
        obj[key] = "";
      });
    },
  },
};
</script>
<style lang="less" scoped>
@import "@/assets/css/Humanitiel";
@import "../../assets/css/index";
</style>
<style lang="less"  scoped>
.label {
  width: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addUser {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .el-button {
    background-color: #2a4061;
    border: none;
    color: white;
  }
}
::v-deep .dialog-wrapperOne .el-input__inner {
  background: #152b4b;
  color: white;
  border: none;
  width: 200px;
}
::v-deep .dialog-wrapperOne .el-input.is-disabled .el-input__inner {
  background: #152b4b;
  color: white;
  border: none;
}
.title {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: "FZCuHeiSongS-B-GB";
  height: 35px;
  width: 150px;
  background: #2a4061ed;
}
</style>
