@charset "UTF-8";

@font-face {
  font-family: "DIN1451";
  src: url("DIN1451.woff2") format("woff2"),
       url("DIN1451.woff") format("woff"),
       url("DIN1451.ttf") format("truetype"),
       url("DIN1451.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}