<template>
  <div class="box" style="display: flex; justify-content: center">
    <div class="table">
      <div class="select">
        <div class="title-choose">
          <div class="select-left">
            <div style="margin-right: 20px">
              <el-select
                v-model="first_value"
                placeholder="请选择"
                :popper-append-to-body="false"
              >
                <el-option
                  v-for="(item, index) in options"
                  :key="index"
                  :value="item.value"
                  @click.native="change(item)"
                >
                </el-option>
              </el-select>
            </div>
            <div>
              <el-select
                v-model="second_value"
                placeholder="请选择"
                :popper-append-to-body="false"
              >
                <el-option
                  v-for="(item, index) in options1"
                  :key="index"
                  :label="item.label"
                  :value="item.label"
                  @click.native="seconChange(item)"
                >
                </el-option>
              </el-select>
            </div>
            <div v-if="chooseYear" class="search">
              <div class="search">
                <el-date-picker
                  v-model="year"
                  type="year"
                  placeholder="选择年份"
                  value-format="yyyy"
                  @change="yearChange"
                >
                </el-date-picker>
              </div>
              <!-- <el-button type="primary" @click="searchMap">查看</el-button> -->
            </div>
          </div>
          <div class="select-right">
            <div class="btn" @click="mapShow()">
              <i class="el-icon-discover"></i>
              <div v-text="text == true ? '地图模式' : '表格数据'"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="cut" class="table-box">
        <router-table
          ref="routerTable"
          :tableData="tableData"
          tableMaxHeight="72vh"
          fixColumn="true"
          fixEdit="true"
          fixRemove="true"
          @edit="handleEdit"
          @remove="handleDelete"
          :tableLabel="tableLabel"
        >
        </router-table>
      </div>
      <!-- <div v-else style="width: 20%; height: 50%">
        <el-button
          type="primary"
          icon="el-icon-edit"
          @click="cut = true"
          style="margin: 20px 40px"
          >重新查询</el-button
        >
      </div> -->
    </div>

    <div class="dialog-wrapperOne">
      <el-dialog
        class="dialog"
        :visible.sync="dialogFormVisible"
        :modal-append-to-body="false"
      >
        <el-form
          style="display: flex; justify-content: space-between; flex-wrap: wrap"
        >
          <el-form-item
            v-for="(item, index) in tableLabel"
            :key="index"
            :label="item.label"
          >
            <el-input
              v-model="rowData[item.prop]"
              :disabled="isNaN(parseFloat(item.label))"
            >
            </el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button @click="saveBtn">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <div class="dialog-wrapper">
      <el-dialog
        :visible.sync="dialogTableVisible"
        :modal-append-to-body="false"
      >
        <router-table
          ref="routerTable1"
          :tableData="rowDelData"
          :tableLabel="rowLabel"
          fixColumn="true"
          fixRemove="true"
          @remove="rowDelete"
        >
        </router-table>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import { getHumanities, getList, postList, getPie } from "@/api/Humanities";
import RouterTable from "@/components/common/RouterTable.vue";
import geoJsonData from "@/config/Assess/geoJsonData.json";
import {
  colorMappings,
  colorConfig,
} from "@/config/Humanities/colorMappings.js";
import _ from "lodash";
// import { getLogin } from "@/api/login";
export default {
  components: {
    RouterTable,
  },
  name: "Humanities",
  data() {
    return {
      cut: true,
      text: true,
      head: [],
      max_year: "",
      min_year: "",
      year: "2016",
      chooseYear: false,
      tableData: [],
      tableLabel: [],
      first_value: "",
      second_value: "",
      first_label: "",
      second_label: null,
      options: [],
      options1: [],
      heard: [],
      newHeard: [],
      newTableData: [],
      rowData: [],
      rowDelData: [],
      rowIndex: "",
      rowLabel: [
        { label: "年份", width: "", prop: "year", align: "center" },
        { label: "值", width: "", prop: "value", align: "center" },
      ],
      dialogFormVisible: false,
      dialogTableVisible: false,
      newListData: [],
      mapList: [],
    };
  },
  mounted() {
    this.loadchoose();
  },
  methods: {
    // 请求
    async loadchoose() {
      this.$store.dispatch("loading", true);
      let res = await getHumanities();
      if (res.code == 200) {
        this.options = res.data;
      }
      this.first_value = this.options[0].value;
      this.first_label = this.options[0].label;
      this.defaultChange(this.options[0]);
      this.$store.dispatch("loading", false);
    },
    // 1级选项改变
    change(list) {
      this.first_label = list.label;
      this.second_value = "";
      this.options1 = list.children;
      this.second_value = this.options1[0].label;
      this.loadlist();
      if (this.cut == false) {
        this.searchMap();
      }
    },
    // 2级选项改变
    seconChange(list) {
      this.second_label = list.value;
      this.loadlist();
      if (this.cut == false) {
        this.searchMap();
      }
    },
    // 年份选择改变
    yearChange(e) {
      this.searchMap();
    },
    // 默认请求
    defaultChange(list) {
      this.options1 = list.children;
      this.second_value = list.children[0].label;
      this.second_label = list.children[0].value;
      this.loadlist();
    },
    // 请求列表数据
    async loadlist() {
      let res = await getList({
        first_cate: this.first_label,
        second_cate: this.second_label,
      });
      if (res.code == 200) {
        var data = [];
        var label = [];
        this.max_year = res.data.max_year;
        this.min_year = res.data.min_year;
        res.data.body.forEach((item) => {
          var obj = {};
          item.forEach((item2, index2) => {
            if (isNaN(parseFloat(item[item2]))) {
              obj["in_" + index2] = String(item2).replace(
                /^(.*\..{4}).*$/,
                "$1"
              );
            }
          });
          data.push(obj);
        });
        this.tableData = data;
        res.data.head.forEach((item, index) => {
          var obj = {
            label: item,
            width: "130",
            align: "center",
            prop: "in_" + index,
          };
          label.push(obj);
        });
        this.head = res.data.head;
        this.tableLabel = label;
      }
    },
    // 编辑
    handleEdit(index, row) {
      this.dialogFormVisible = true;
      this.rowIndex = index;
      this.rowData = _.cloneDeep(this.tableData[index]);
    },
    // 删除
    handleDelete(index, row) {
      this.rowData = _.cloneDeep(this.tableData[index]);
      this.rowIndex = index;
      var arr = [];
      this.head.forEach((item, index1) => {
        var obj = {};
        if (!isNaN(parseFloat(item))) {
          obj.year = item;
          obj.index = index1;
          obj.value = row["in_" + index1];
          arr.push(obj);
        }
      });
      this.rowDelData = arr;
      this.dialogTableVisible = true;
    },
    rowDelete(index, row) {
      this.$confirm("是否删除该数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.rowData["in_" + row.index] = 0;
          this.saveBtn(1);
        })
        .catch(() => {
          this.dialogTableVisible = false;
        });
    },
    // 发送删除/修改请求
    async saveBtn(type) {
      var cloneData = _.cloneDeep(this.tableData);

      cloneData[this.rowIndex] = this.rowData;

      var data = [];

      cloneData.forEach((item) => {
        var arr = [];
        Object.keys(item).forEach((item2) => {
          if (isNaN(parseFloat(item[item2]))) {
            arr.push(item[item2]);
          } else {
            arr.push(parseFloat(item[item2]));
          }
        });
        data.push(arr);
      });

      var body = {
        head: this.head,
        body: data,
        min_year: this.min_year,
        max_year: this.max_year,
      };

      let res = await postList(
        {
          first_cate: this.first_label,
          second_cate: this.second_label,
        },
        {
          data: body,
        }
      );
      if (res.code == 200) {
        this.dialogFormVisible = false;
        this.loadlist();
        if (type && type === 1) {
          this.$message.success("删除成功！");
        } else {
          this.$message.success("保存成功！");
        }
      } else {
        this.$message.error(res.message);
      }
    },
    // 地图模式
    mapShow() {
      this.chooseYear = !this.chooseYear;
      if (this.text == true) {
        this.text = !this.text;
        this.searchMap();
      } else {
        this.text = !this.text;
        this.cut = true;
        this.reAssess();
      }
    },
    async reAssess() {
      this.$store.dispatch("initialize");
      // this.showMapData = !this.showMapData;
    },
    // 地图模式查询请求
    async searchMap() {
      if (this.year) {
        let res = await getPie({
          first_cate: this.first_label,
          second_cate: this.second_label,
          years: this.year,
        });
        if (res.code == 200) {
          this.mapList = [];
          this.reAssess();
          this.$store.dispatch("initialize");
          this.mapList = res.data;
          this.showMap();
          this.cut = false;
        }
      } else {
        this.$message.error({
          message: "请选择年份",
          duration: 2000,
        });
      }
    },
    // 渲染地图颜色
    async showMap() {
      var _this = this;
      this.$nextTick(() => {
        L.geoJSON(geoJsonData, {
          style: function (feature) {
            return {
              fillColor: _this.getColor(feature.properties.name),
              color: "transparent", // 设置边框颜色为透明
              fillOpacity: 0.7,
            };
          },
          onEachFeature: function (feature, layer) {
            // 为每个要素添加点击事件
            layer.on("click", function (e) {
              // 在这里你可以根据需要执行其他操作，比如显示提示信息或更新地图状态
            });
          },
        }).addTo(_this.$GlobalMap.map);

        // const latLng = L.latLng(40.7128, -74.006);
        // const zoomLevel = 2.3;
        // _this.$GlobalMap.map.setView(latLng, zoomLevel);
        _this.showMapData = true;
        // _this.showRadar();
      });
    },
    // showTable(value){
    // },
    getColor(value) {
      console.log(colorMappings[this.first_label][this.second_label + ""]);
      // console.log(this.mapList);
              debugger
      for (var item of this.mapList) {
        if (item.name == value) {
          colorMappings[this.first_label][this.second_label + ""].forEach(
            (item1, index) => {
              if (Number(item.value) > item1[0] && Number(item.value) < item1[1]
              ) {
                return '#3ab9db';
              }
            }
          );
        }
      }
      // if (this.first_label == "h_zz" && this.second_label == "1") {
      //   for (var item of this.mapList) {
      //     if (item.name == value) {
      //       if (Number(item.value) <= 0) {
      //         return "#3ab9db";
      //       } else if (Number(item.value) > 0 && Number(item.value) < 0.5) {
      //         return "#86f172";
      //       } else if (Number(item.value) > 0.5 && Number(item.value) < 1) {
      //         return "#e69a0e";
      //       } else if (Number(item.value) > 1) {
      //         return "#e60e0e";
      //       }
      //     }
      //   }
      //   return "#7c0707 ";
      // } else if (this.first_label == "h_jj" && this.second_label == "1") {
      //   for (var item1 of this.mapList) {
      //     if (item1.name == value) {
      //       if (Number(item1.value) <= 0) {
      //         return "#3ab9db";
      //       } else if (Number(item1.value) > 0 && Number(item1.value) < 5) {
      //         return "#86f172";
      //       } else if (Number(item1.value) > 5 && Number(item1.value) < 10) {
      //         return "#e69a0e";
      //       } else if (Number(item1.value) > 10) {
      //         return "#e60e0e";
      //       }
      //     }
      //   }
      //   return "#f004b9 ";
      // }
    },
  },
};
</script>
<style lang="less" scoped>
@import "../../assets/css/Humanitiel";
</style>
<style lang="less" >
.search {
  display: flex;
}
.dialog .el-input__inner {
  background: #152b4b;
  color: white;
  border: none;
}
.dialog .el-input.is-disabled .el-input__inner {
  background: #152b4b;
  color: white;
  border: none;
}
.dialog .el-button {
  background: #1e67ea1f;
  border: 1px solid #0f1f43;
  color: #fafafa;
}
.el-form-item__label {
  color: white;
}
.el-scrollbar {
  background: #1e1e1ef2;
}
.el-select-dropdown {
  border: 1px solid #1e1e1ef2;
}
.el-popper[x-placement^="bottom"] .popper__arrow {
  top: -8px;
  border-bottom-color: #1e1e1ef2;
}
.el-popper[x-placement^="bottom"] {
  margin-top: 10px;
}
.el-popper[x-placement^="bottom"] .popper__arrow::after {
  border-bottom-color: #1e1e1ef2;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #1b4590;
}
.el-select-dropdown__item {
  color: white;
  height: 39px;
}
.el-select-dropdown__list {
  padding: 0 0 10px 0;
  width: 100%;
}
.el-input__icon {
  line-height: 35px;
}
.el-button:hover {
  background-color: #152b4b !important;
  color: inherit !important;
  border-color: inherit !important;
}
.el-message--success {
  background-color: rgba(9, 33, 72, 0.5);
  border-color: rgba(9, 33, 72, 0.5);
}

.el-message--error {
  background-color: rgba(9, 33, 72, 0.5);
  border-color: rgba(9, 33, 72, 0.5);
}
// 日期选择框
.el-picker-panel {
  background-color: #1e1e1ef2;
  border: none;
}
.el-popper[x-placement^="bottom"] .popper__arrow:after {
  border-bottom-color: #1e1e1ef2 !important;
}
.el-picker-panel {
  color: white;
}
.el-date-table td.next-month,
.el-date-table td.prev-month {
  color: #545861;
}
.el-date-table th {
  color: #ffffff;
}
.el-date-picker__header-label {
  color: white;
}
.el-picker-panel__icon-btn {
  color: white;
}
</style>
