::v-deep .el-select .el-input.is-focus .el-input__inner {
    border-color: #ffffff00;
  }
  ::v-deep .el-select .el-input__inner:focus {
    border-color: #ffffff00;
  }
  // 弹窗样式
  .dialog-wrapper {
    /deep/ .el-dialog__wrapper {
      .el-dialog {
        border: none;
        .el-dialog__body {
          padding: 0px;
        }
        .el-dialog__header {
          padding: 0px;
        }
        .el-dialog__headerbtn {
          z-index: 10;
        }
      }
    }
  }
    // 弹窗样式
  .dialog-wrapperOne {
    /deep/ .el-dialog__wrapper {
      .el-dialog {
        border: none;
        .el-dialog__body {
          background: #182137;
          padding: 0 20px;
        }
        .el-dialog__header {
          background: #213150;
          padding: 20px;
        }
        .el-dialog__headerbtn {
          z-index: 10;
        }
        .el-dialog__footer {
          background: #182137;
        }
        .el-dialog__headerbtn {
          top: 15px;
          z-index: 10;
        }
      }
    }
  }
.title-choose {
    display: flex;
    width: 100%;
    margin: 20px 0px;
    justify-content: space-between;
  }
  .table{
    width: 100%;
  }
  .table-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .btn {
    border-radius: 5%;
    display: flex;
    cursor: pointer;
    background: #2a4061;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 35px;
    font-family: "FZCuHeiSongS-B-GB";
  }
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .select {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .select-left {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    background: #2a4061;
  }
  .select-right {
    display: flex;
  }
  .dialog .el-input__inner {
    width: 320px;
    color: black;
  }
  ::v-deep .select-left .el-input__inner {
    width: 150px;
    height: 35px;
    background: #2a4061;
    color: white;
    font-family: "FZCuHeiSongS-B-GB";
    font-size: 15px;
    // border: 1px solid #28303d;
    // box-shadow: 0px 0px 3px #504242;
    border-radius: 0%;
    border: none;
  }
  ::v-deep .el-table th.el-table__cell>.cell{
    font-size: 17px;
    color: #CDFBFF;
  }
  //注意样式最好添加scoped，防止污染其他界面
  ::v-deep ::-webkit-scrollbar {
    //滚动条宽高，如果不需要显示滚动条可设置宽高为0
    width: 15px;
    height: 0px;
  }
  ::v-deep ::-webkit-scrollbar-thumb {
    //滚动条颜色和圆角
    // background-color: #ffffff;
    border-radius: 3px;
  }
