body {
    background: #f5f6f7;
  }
  .header{
    display: flex;
    width: 100%;
    background-color: #002550;
    // height: 10%;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid #98c1fe;
    height: 100%;
    // line-height: 50px;
    // padding-left: 33px;
  }

  .spanBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 120px;
    color: white ;
    // padding: 0 10px;
    border: none;
    font-weight: 400;
    font-family: 'FZCuHeiSongS-B-GB';
    color: white
  }

  .title {
  font-size:  31px;
  font-family: FZCuHeiSongS-B-GB;
  font-weight: 400;
  color: #CDFBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .main-left{
    width: 60%;
    height: 100%;
  }
  .main{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .main-right{
   width: 45%;
   height: 100%;
   margin-top: 60px;
   display: flex;
  }
  .left{
    width: 100%;

    .main-title {
    padding-left: 15px;
    width: 320px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-family: FZCuHeiSongS-B-GB;
    font-weight: 400;
    color: #FFFFFF;
    -webkit-font-smoothing:'antialiased';
    // background-image: linear-gradient(to right,#023067,#00091f);
  }
  .main-title1{
    padding-left: 15px;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-family:'方正粗黑宋简体' ;
    font-size: 25px;
    -webkit-font-smoothing:'antialiased';
    // background-image: linear-gradient(to right,#023067,#00091f);
  }
  .box-chart{
    width: 100%;

  }
  }
  span{
    display: inline-block;
  }
  .data-one{
    width: 100px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .data-two{
    width: 72px;
  }
  .data-three{
    width: 160px;
  }
  .gap{
    margin-top: 10px;
    font-size: 20px;
    font-size: 20px;
  font-family: SimHei;
  font-weight: 400;
  color: #FFFFFF;
  }
  .table{
    font-size: 20px;
    .table-title{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50px;
      margin-top: 20px;
      font-family: SimHei;
      font-weight: 400;
      color: #C9D7EC;
      // background-image: linear-gradient(to right, black,rgb(2,30,70),black,);
    }
    .header-item{
      width: 100px;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-family: SimHei;
      font-weight: 400;
      color: #C9D7EC;
    }
    .table-title:nth-child(4){
      width: 100px;
    }
    .tr{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 40px;
      // background-image: linear-gradient(to right, black,rgb(2,30,70),black,);
      font-size: 17px;
      font-family: SimHei;
      font-weight: 400;
      color: #FFFFFF;
      margin-top: 15px;
    }
    td{
      text-align: center;
    }
    }
    .aa{
      display: flex;
      width:100px;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    font-family: SimHei;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.75;
    }
    .aa:nth-child(4){
      width: 100px;
    }


  .right{
    width: 96%;
    margin-left: 50px;
  }
  .right-data{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .data-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 35px;
    background: rgb(23, 54, 98);
    font-size: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    margin-right: 20px;
    cursor: pointer;
  }
  .data-icon{
    display: flex;
    justify-content: flex-start;
    font-size: 16px ;
    margin-bottom: 60px;
    img{
          margin-right: 20px;
  }
  .Outletpressure{
    font-size: 22px;
font-family: STZhongsong;
font-weight: 400;
color: #F3F8FF;
  }
.data-contaion{
  font-size: 14px;
  font-family: SimHei;
  font-weight: 400;
  color: #BBD1ED;
  }
  .data-num{
    font-size: 22px;
    font-family: SimHei;
    font-weight: 400;
    color: #F3F8FF
  }
;

  .data-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
    }
  .first{
    background: rgb(23, 54, 98);
  }
  .bgcolor {
    background: rgb(16, 23, 55);
  }
  .echar2{
    position: relative;
    bottom: 30px;
    left: -40px;
  }
  .echar1{
    position: relative;
    bottom: 22px;
    left: -40px;
  }
 .table-warn{
    width: 100%;
    border-spacing: 0 30px;
    position: relative;
    left: -60px;
    font-family: 'FZCuHeiSongS-B-GB';
    .warn-title{
      color: #C9D7EC;
    }
    td{
      text-align: center;
      font-size: 20px;

    }
  }
    // 弹窗样式
  .dialog-wrapperOne {
    /deep/ .el-dialog__wrapper {
      .el-dialog {
        border: none;
        .el-dialog__body {
          background: #182137;
          padding: 20px 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
        .el-dialog__header {
          background: #213150;
          padding: 20px;
        }
        .el-dialog__headerbtn {
          z-index: 10;
        }
        .el-dialog__footer {
          background: #182137;
          .el-button{
            background-color:#1e67ea1f;
            border:none;
            color: white;
          }


        }
        .el-dialog__headerbtn {
          top: 15px;
          z-index: 10;
        }
      }
    }
  }
  ::v-deep .el-dialog__title{
    color:#CDFBFF ;
    font-family: "FZCuHeiSongS-B-GB";
  }
  ::v-deep .el-table__empty-text{
    color:white
  }
  ::v-deep .dialog-wrapperOne .el-select-dropdown__list{
    width: 100%;
  }




