
.na-btn {
  height: 80px;
  width: 500px;
  margin: 0 auto;
}

.map-time-legend {
  width: 1619px;
  position: fixed;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 0;
  right: 2px;
  margin: 0 20px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.map-legend{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .legend-bg{
    width: 300px;
    transition: all .3s;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 0px 2px 4px #2f332a;
    padding: 0 5px;
    span{
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF;
      flex: 1;
      /*padding-left: 10px;*/
    }
  }

  .layer0{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1));
  }
  .layer1{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1))

  }
  .layer2{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1))

  }
  .layer3{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1))

  }
  .layer4{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1))

  }
  .layer5{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1))

  }
  .layer6{
    background: linear-gradient(to right,rgba(90,86,143,1), rgba(72,104,181,1), rgba(69,151,168,1), rgba(81,180,98,1), rgba(106,192,82,1), rgba(177,209,67,1), rgba(215,206,60,1), rgba(214,172,64,1), rgba(213,137,72,1), rgba(205,94,93,1), rgba(144,28,79,1), rgba(43,0,1,1))

  }
}

.time-line{
  flex:1;
  display: flex;

  .time-line-icon{
    cursor: pointer;
    /*font-size: 40px;*/
    margin-right: 15px;
    color: #009dff;
    /*float: left;*/
    /*background-color: #fff;*/
    img{
      width: 34px;
      height: 34px;
    }
  }
  .time-line-slider{
    flex: 1;
    .custom-tips{
      position: absolute;
      padding: 2px 15px;
      top:0;
      left: 0;
      border-radius: 15px;
      border: none;
      color: black;
      background-color: #FFFFC8;
    }

  }
}

.date-line{
  margin-top: -16px;
  justify-content: space-around;
  display: flex;
  font-weight: 40;
  .span{
    font-weight: 400;
    font-size: 15px;
  }
}
