<template>
  <div>
    <div class="box" style="display: flex; justify-content: center">
      <div class="table">
        <div class="select">
          <div class="title-choose" style="justify-content: left">
            <div class="select-left">
              <div style="margin-right: 20px">
                <el-select
                    v-model="searchForm.item"
                    placeholder="请选择"
                    :popper-append-to-body="false"
                    :value-key="'type'"
                    @change="itemChange"
                >
                  <el-option
                      v-for="(item, index) in dataTypeOption"
                      :key="index"
                      :value="item"
                      :label="item.name"
                  >
                  </el-option>
                </el-select>
              </div>
              <div>
                <el-date-picker
                    v-if="searchForm.item.startTime && searchForm.item.endTime"
                    v-model="searchForm.time_value"
                    type="year"
                    value-format="yyyy"
                    format="yyyy"
                    :picker-options="dateTimeOptions"
                ></el-date-picker>
              </div>
              <div>
                <el-select
                    v-model="searchForm.time_type"
                    placeholder="请选择"
                    :popper-append-to-body="false"
                >
                  <el-option
                      :value="2"
                      label="季平均"
                  >
                  </el-option>
                  <el-option
                      :value="3"
                      label="月平均"
                  >
                  </el-option>
                </el-select>
              </div>
              <div>
                <el-select
                    v-if="searchForm.item.rangeTypeOptions"
                    v-model="searchForm.rangeType"
                    placeholder="请选择"
                    :popper-append-to-body="false"
                >
                  <el-option
                      v-for="(item, index) in searchForm.item.rangeTypeOptions"
                      :key="index"
                      :value="item.value"
                      :label="item.name"
                  >
                  </el-option>
                </el-select>
              </div>
              <div class="rangSlider temperature"
                   style="display: flex;align-items: center;justify-content: space-between;"
                   v-if="searchForm.item.range && false">
                <el-slider style="width: 200px; margin-left: 5px; "
                           v-model="searchForm.range" range
                           :step="parseFloat(searchForm.item.range.step)"
                           :min="parseFloat(searchForm.item.range.min)"
                           :max="parseFloat(searchForm.item.range.max)"></el-slider>
                <span style="margin-left: 10px;">{{ searchForm.item.range.logotype }}</span>
              </div>

            </div>
            <div>
              <el-button
                  style="margin-left: 30px; background: #2a4061;border: 0;width: 74px;color: white; height: 38px"
                  size="medium"
                  @click="search('btu')"
              >搜索
              </el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 15px">
      <div class="map-time-legend">
        <div class="map-legend">
          <div class="time-line">
            <div class="time-line-icon">
              <i @click="playTimeLine" v-if="!timeFlag"><img :src="playIcon" alt=""></i>
              <i @click="stopTimeLine" v-else><img :src="pauseIcon" alt=""></i>
            </div>
            <div class="time-line-slider">
              <el-slider v-model="searchForm.time_select" :max="searchForm.time_type  == '2' ? 5 :12 "
                         :show-stops='false' :show-tooltip="false" @change="sliderChange()"></el-slider>
              <div class="date-line">
                <span style="cursor: pointer"
                      v-for="(v,index) in (searchForm.time_type == '2' ? quarterLine : monthLine)"
                      @click="sliderChange(index)">{{ v.name }}</span>
              </div>
            </div>
          </div>
          <div class="legend-bg" :class="'layer' + baseLayerIndex" v-if="searchForm.baseMapLayerLegend">
            <span v-for="(v, index) in searchForm.baseMapLayerLegend">{{
                v
              }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Decimal from 'decimal.js';
import JSZip from 'jszip';
import toGeoJSON from 'togeojson';
import {Geojson} from "@/assets/js/geojson.js";
import {dataTypeConfig, monthLine, quarterLine} from "../../config/Nature";
import playIcon from '@/assets/png/播放.png'
import pauseIcon from '@/assets/png/暂停.png'
import {getConditions, getWindData} from "@/api/Nature";
import wavejson from '@/config/mock/test/wave.json'
import seaTemperaturejson from '@/config/mock/test/seaTemperature.json'
import seawaterVelocity from '@/config/mock/test/seawaterVelocity.json'
import theHeightOfTheSeaAboveTheGeoid from '@/config/mock/test/theHeightOfTheSeaAboveTheGeoid.json'
import widespreadPrecipitation from '@/config/mock/test/widespreadPrecipitation.json'
import convectivePrecipitation from '@/config/mock/test/convectivePrecipitation.json'
import thunderstorm from '@/config/mock/test/thunderstorm.json'
import visibility from '@/config/mock/test/visibility.json'
import temperature from '@/config/mock/test/temperature.json'
import totalPrecipitation from '@/config/mock/test/totalPrecipitation.json'
import axios from "axios";

export default {
  name: "Nature",
  components: {},
  data() {
    return {
      velocityLayer: "",
      scalarLayer: "",
      kmlLayer: "",
      baseLayerIndex: 0,
      baseMapLayerLegend: [],
      searchForm: {
        item: '',
        n_type: '',
        time_value: '',
        time_type: 2,
        rangeType: '',
        range: ['', ''],
        time_select: 1
      },
      dataTypeOption: [],
      timeFlag: false,
      playIcon: playIcon,
      pauseIcon: pauseIcon,
      quarterLine: quarterLine,
      monthLine: monthLine,
      intervalTime: null,
    };
  },
  mounted() {
    if (this.$GlobalMap.map) {
      const latLng = L.latLng(10.06465289, 85.80242172);
      const zoomLevel = 4;
      this.$GlobalMap.map.setView(latLng, zoomLevel);
    }

    this.init()
  },
  computed: {
    dateTimeOptions() {
      return {
        disabledDate: this.disabledDate,
        formatter: this.customFormatter,
      };
    }
  },
  beforeDestroy() {
    this.removeVectorLayer();
    this.removeScalarLayer();
    this.stopTimeLine()
  },
  methods: {
    // 初始化
    async init() {
      this.$store.dispatch("loading", true);

      var res = await getConditions()

      if (res.code == 200) {
        this.dataTypeOption = res.data
        this.searchForm.item = this.dataTypeOption[0]
        this.itemChange()
      }
      this.$store.dispatch("loading", false);
    },
    // 季度 月份 时间轴
    sliderChange(index) {
      if (this.searchForm.time_select === 0) {
        this.searchForm.time_select = 1
        return
      }
      if (index != null) {
        this.searchForm.time_select = index + 1
      }
      this.search()
    },
    // 停止自动播放
    stopTimeLine() {
      this.timeFlag = false
      if (this.intervalTime) {
        clearInterval(this.intervalTime)
      }
    },
    // 开始自动播放
    playTimeLine() {
      this.timeFlag = true
      let number = this.searchForm.time_type == '2' ? quarterLine.length : monthLine.length;

      if (number == (this.searchForm.time_select)) {
        this.searchForm.time_select = 1
      }
      this.search()
      this.intervalTime = setInterval(() => {
        let number = this.searchForm.time_type == '2' ? quarterLine.length : monthLine.length;
        if (this.searchForm.time_select <= number) {
          this.searchForm.time_select = this.searchForm.time_select + 1
          this.search()
          if (number != this.searchForm.time_select) {
            return
          }
        }
        this.stopTimeLine()
      }, 5000)
    },
    // 查询
    async search(type) {

      if (type && type == 'btu') {
        this.stopTimeLine()
        this.removeVectorLayer();
        this.removeScalarLayer();
      }
      var item = this.searchForm.item
      console.log(item)
      if (item.type == 'seaTemperature') {
        this.addScalarLayer("seaTemp", seaTemperaturejson);
      } else if (item.type == 'theHeightOfTheSeaAboveTheGeoid') {
        this.addScalarLayer("theHeightOfTheSeaAboveTheGeoid", theHeightOfTheSeaAboveTheGeoid);
      } else if (item.type == 'seawaterVelocity') {
        this.addScalarLayer("seawaterVelocity", seawaterVelocity);
      } else if (item.type == 'windFarms') {
        var time_select = '';
        if (this.searchForm.time_type == '2') {
          time_select = quarterLine[this.searchForm.time_select - 1].value
        } else {
          time_select = monthLine[this.searchForm.time_select - 1].value
        }
        getWindData({
          time_value: this.searchForm.time_value,
          time_type: this.searchForm.time_type,
          n_type: this.searchForm.n_type,
          time_select: time_select,
        }).then((res) => {
          this.addVectorLayer("wind", res.data);
          this.addScalarLayer("wind", res.data);
          this.$store.dispatch("loading", false);
        })
      } else if (item.type == 'widespreadPrecipitation') {
        this.addScalarLayer("widespreadPrecipitation", widespreadPrecipitation);
      } else if (item.type == 'convectivePrecipitation') {
        this.addScalarLayer("convectivePrecipitation", convectivePrecipitation);
      } else if (item.type == 'oceanWave') {
        this.addScalarLayer("wave", wavejson);
      } else if (item.type == 'visibility') {
        this.addScalarLayer("visibility", visibility);
      } else if (item.type == 'thunderstorm') {
        this.addScalarLayer("thunderstorm", thunderstorm);
      } else if (item.type == 'temperature') {
        this.addScalarLayer("temperature", temperature);
      } else if (item.type == 'totalPrecipitation') {
        this.addScalarLayer("totalPrecipitation", totalPrecipitation);
      } else if (item.type == 'topography') {
        let res = await axios.get('/topography.json')
        this.addScalarLayer("topography", res.data);
      } else if (item.type == 'tropicalCyclones') {
        const response = await fetch('/tropicalCyclones.kmz');
        const blob = await response.blob();
        const zip = await JSZip.loadAsync(blob);

        // 解析 KMZ 文件中的 KML 数据
        const kmlFile = Object.keys(zip.files).find((filename) => filename.endsWith('.kml'));
        const kmlData = await zip.file(kmlFile).async('string');

        // 使用 toGeoJSON 函数将 KML 数据转换为 GeoJSON
        const tes = toGeoJSON.kml((new DOMParser()).parseFromString(kmlData, 'text/xml'));
        console.log(tes)
        //  ===============>zip
        // const tropicalCycloneData = [
        //   ['IO', '01', '1945042918', '', 'BEST', '0', '117N', '925E', '-999'],
        //   ['IO', '01', '1945043000', '', 'BEST', '0', '118N', '923E', '-999'],
        //   ['IO', '01', '1945043006', '', 'BEST', '0', '122N', '917E', '-999'],
        //   ['IO', '01', '1952051612',  '' , 'BEST',   '0', '119N',  '922E','-999'],
        //   ['IO', '01', '1952051618',  '' , 'BEST',   '0', '125N',  '920E','-999'],
        //   ['IO', '01', '1952051700',  '' , 'BEST',   '0', '132N',  '918E','-999'],
        // ];
        //
        // const geojson = {
        //   type: 'FeatureCollection',
        //   features: tropicalCycloneData.map((record) => {
        //     var timestamp = record[2];
        //     var latDir = record[6];
        //     var lon = record[7];
        //
        //     var lat = parseFloat(latDir.replace(/N/g, '').replace(/S/, '-'))/ 10;
        //     lon = parseFloat(lon.replace(/E/g, '').replace(/W/, '-')) / 10;
        //
        //     return {
        //       type: 'Feature',
        //       geometry: {
        //         type: 'Point',
        //         coordinates: [lon, lat],
        //       },
        //       properties: {
        //         timestamp,
        //       },
        //     };
        //   }),
        // };
        // let lineCoordinates = [];
        // geojson.features.forEach((feature) => {
        //   if (feature.geometry.type === 'Point') {
        //     const [lon, lat] = feature.geometry.coordinates;
        //     lineCoordinates.push([lon, lat]);
        //   }
        // });
        //
        // const lineFeature = {
        //   type: 'Feature',
        //   geometry: {
        //     type: 'LineString',
        //     coordinates: lineCoordinates,
        //   },
        //   properties: {
        //     // 可以添加其他属性，如时间范围等
        //   },
        // };
        //
        // var arr = [lineFeature]
        // arr.push(...geojson.features)
        //
        // const lineGeoJSON = {
        //   type: 'FeatureCollection',
        //   features: arr,
        // };
        //
        // console.log(lineGeoJSON)

        this.kmlLayer = L.geoJSON(tes.features, {
          pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, {
              radius: 5, // 自定义半径
              fillColor: 'rgb(51,136,255)', // 自定义填充颜色
              color: 'rgb(51,136,255)', // 自定义边框颜色
              weight: 1, // 自定义边框宽度
              opacity: 0.5, // 自定义透明度
              fillOpacity: 1, // 自定义填充透明度
            });
          },
        }).addTo(this.$GlobalMap.map);
      }
    },
    // 选项改变
    itemChange(item) {
      var item = this.searchForm.item
      this.searchForm.n_type = item.type
      this.searchForm.time_value = item.endTime + ''

      this.searchForm.time_type = 2
      this.searchForm.time_select = 1
      this.searchForm.baseMapLayerLegend = null
      if (this.searchForm.item.color_show){
        var arr = this.searchForm.item.color_show.split(',')
        arr.unshift(this.searchForm.item.logotype)
        this.searchForm.baseMapLayerLegend = arr
      }


    },
    // 添加流向
    addVectorLayer(type, data) {
      this.removeVectorLayer();
      var obj = dataTypeConfig[type] && dataTypeConfig[type].vectorLayer
          ? {...dataTypeConfig[type].vectorLayer} : {...dataTypeConfig['common'].vectorLayer}

      this.velocityLayer = new L.velocityLayer({
        displayValues: false,
        displayOptions: {
          velocityType: "",
          displayPosition: "",
          displayEmptyString: "",
        },
        ...obj,
      });
      this.velocityLayer.setData(data);
      this.velocityLayer.onAdd(this.$GlobalMap.map);
    },
    // 加载强度图
    addScalarLayer(type, data) {
      var config = dataTypeConfig[type] && dataTypeConfig[type].scalarLayer
          ? {...dataTypeConfig[type].scalarLayer} : {...dataTypeConfig['common'].scalarLayer}

      // this.removeScalarLayer();
      if (this.searchForm.item.max_value && this.searchForm.item.min_value) {
        config.maxValue = parseFloat(this.searchForm.item.max_value)
        config.minValue = parseFloat(this.searchForm.item.min_value)
      }

      this.scalarLayer = new L.scalarLayer({
        displayValues: false,
        displayOptions: {
          velocityType: "",
          displayPosition: "",
          displayEmptyString: "",
        },
        ...config,
      });
      this.scalarLayer.setData(data);
      this.scalarLayer.onAdd(this.$GlobalMap.map);
    },
    // 移除矢量图
    removeVectorLayer() {
      if (this.velocityLayer) {
        this.velocityLayer.onRemove();
        this.velocityLayer = null;
      }
      if (this.kmlLayer) {
        this.kmlLayer.remove();
        this.kmlLayer = null;
      }
    },
    // 移除标量图
    removeScalarLayer() {
      if (this.scalarLayer) {
        this.scalarLayer.onRemove();
        this.scalarLayer = null;
      }
      if (this.kmlLayer) {
        this.kmlLayer.remove();
        this.kmlLayer = null;
      }
    },
    // 日期
    disabledDate(time) {
      const startDate = new Date(this.searchForm.item.startTime + '-01-01');
      const endDate = new Date(this.searchForm.item.endTime + '-12-31');
      return time.getTime() < startDate.getTime() || time.getTime() > endDate.getTime();
    },
    // 日期
    customFormatter(date) {
      return `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`;
    },
  },

  // 监听 选项框是否有变化
  watch: {
    'searchForm.n_type': {
      handler(newName, oleName) {
        this.stopTimeLine()
        // this.removeVectorLayer()
        // this.removeScalarLayer()
      },
    },
    'searchForm.time_value': {
      handler(newName, oleName) {
        this.stopTimeLine()
        // this.removeVectorLayer()
        // this.removeScalarLayer()
      },
    },
    'searchForm.time_type': {
      handler(newName, oleName) {
        this.stopTimeLine()
        // this.removeVectorLayer()
        // this.removeScalarLayer()
      },
    },
  }
};
</script>
<style lang="less" scoped>
@import "../../assets/css/Nature";
@import "../../assets/css/Humanitiel";
</style>
<style type="css" scoped>
.time-line-slider >>> .el-slider__runway {
  background-color: rgba(2, 2, 2, 0.5) !important;
}

.time-line-picker >>> .el-input__prefix {
  display: none;
}

.time-line-picker >>> .el-input__inner {
  border-radius: 20px;
  background-color: #00a0e9;
  padding: 0 0 0 10px;
  text-shadow: 0 0 0 #ffffff;
  border: none;
  outline: none;
  height: 34px;
  cursor: pointer;
  color: transparent;
}

.time-line-picker >>> .el-date-editor.el-input {
  width: 120px;
  border-radius: 20px;
  background-color: #00a0e9;
  border: none;
}

/* 改变整个滑动条的颜色 */
.temperature >>> .el-slider__bar {
  background: linear-gradient(to right, rgba(90, 86, 143, 1), rgba(72, 104, 181, 1), rgba(69, 151, 168, 1), rgba(81, 180, 98, 1), rgba(106, 192, 82, 1), rgba(177, 209, 67, 1), rgba(215, 206, 60, 1), rgba(214, 172, 64, 1), rgba(213, 137, 72, 1), rgba(205, 94, 93, 1), rgba(144, 28, 79, 1), rgba(43, 0, 1, 1));
}

.rangSlider >>> .el-slider__button {
  border: 0;
  color: rgb(3, 7, 209);
}

</style>
<style lang='less'>
.el-year-table td.disabled .cell {
  background-color: #1c1d1e00;
  color: gray

}

.el-year-table td .cell {
  color: white;
}

.test111 {
  background-color: rgb(90, 86, 143);
  background-color: rgb(72, 104, 181);
  background-color: rgb(69, 151, 168);
  background-color: rgb(81, 180, 98);
  background-color: rgb(106, 192, 82);
  background-color: rgb(177, 209, 67);
  background-color: rgb(215, 206, 60);
  background-color: rgb(214, 172, 64);
  background-color: rgb(213, 137, 72);
  background-color: rgb(205, 94, 93);
  background-color: rgb(144, 28, 79);
}
</style>
