<template>
  <div class="pages-wrap">
    <div class="container">
      <div class="header">
        <div class="title" @click="initialize">海丝路海区自然数据和地缘政治综合风险分析与区划系统</div>
        <div class="tabChange">
          <div class="flex" v-for="(item, index) in menus" :key="index">
            <router-link
              :to="item.key"
              tag="a"
              :class="key == item.key ? 'selected' : ''"
            >
              <div class="spanBtn">{{ item.name }}</div>
            </router-link>
          </div>
          <div @click="logOut" class="out">退出</div>
        </div>
      </div>
      <div  v-show="loading" v-loading="loading" class="load"
            element-loading-text="加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"></div>
      <div class="body-main">
        <transition name="fade-transform" mode="out-in">
          <keep-alive :include="[]">
            <router-view :key="key" />
          </keep-alive>
        </transition>
      </div>
    </div>
    <l-map
      id="map"
      ref="map"
      class="map"
      :zoom="$GlobalMap.zoom"
      :min-zoom="$GlobalMap.minZoom"
      :options="{ zoomControl: false, attributionControl: false }"
      :center="$GlobalMap.center"
    >
    </l-map>
  </div>
</template>

<script>
import { LMap, LMarker, LTileLayer } from "vue2-leaflet";
import "@/assets/js/leaflet-vector-scalar.js";
import "@/assets/css/map/MarkerCluster.css";
import "@/assets/css/map/leaflet-vector-scalar.css";
import "@/assets/js/leaflet.latlng-graticule.js";
import "@/assets/js/chinaProvider.js";
import "@/assets/js/turf.min.js";
import "@/assets/js/leaflet-typhoon.min.js";
import "@/assets/js/leaflet.markercluster-src.js";
import { getToken, removeToken } from "@/utils/auth";

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
  },
  data() {
    return {
      System: true,
      admin: null,
      loading: false,
      menus: [
        {
          key: "/Humanities",
          name: "地缘政治", //人文政治
        },
        {
          key: "/Nature",
          name: "自然环境", // 自然数据
        },
        {
          key: "/Model",
          name: "模型管理", // 模型
        },
        {
          key: "/Assess",
          name: "评估区划", // 评估与区划
        },
        {
          key: "/User",
          name: "系统设置", // 系统设置
        },
      ],
    };
  },
  computed: {
    key() {
      return this.$route.fullPath;
    },
    globalLoading() {
      return this.$store.state.globalMap.loading;
    },
  },
  mounted() {
    console.log()
    this.initVueLeaflet();
    this.admin = getToken("isadmin");
    this.showAdmin();
  },
  methods: {
    initVueLeaflet() {
      this.$nextTick(() => {
        this.$GlobalMap.map = this.$refs.map.mapObject;
        L.tileLayer(this.$GlobalMap.url, {}).addTo(this.$GlobalMap.map);
      });
    },
    initialize() {
      this.$router.push("/index");
      this.$store.dispatch("initialize");
    },
    showAdmin() {
      if (this.admin == -1) {
        this.menus.pop();
      } else {
        return;
      }
    },
    logOut() {
      removeToken("user");
      removeToken("isadmin");
      this.$router.push("/login");

    },
  },

  watch: {
    key(newValue, oldValue) {
      this.$store.dispatch("initialize");
      this.$store.dispatch("loading",false);
    },
    globalLoading(newValue, oldValue) {
      this.loading = newValue
    },
  },
};
</script>

<style lang="less" scoped>
// @import "../css/Humanitiel";
@import "../assets/css/index.less";
.map {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.selected {
  background: #3e638b96;
  color: white;
  border-bottom: 3px solid #cdfbff;
}

.pages-wrap {
  height: 100vh;
  background: #1b2c5ac9;
}

.tabChange {
  height: 90px;
  display: flex;
  margin-right: 30px;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  // height: 100%;
}
.icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 40px;
  height: 100%;
  img {
    width: 100%;
    border-radius: 50%;
  }
}
.body-main {
  height: 0px !important;
}
.label {
  width: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addUser {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  .el-button {
    background-color: #1e67ea1f;
    border: none;
    color: white;
  }
}
::v-deep .dialog-wrapperOne .el-input__inner {
  background: #152b4b;
  color: white;
  border: none;
  width: 200px;
}
::v-deep .dialog-wrapperOne .el-input.is-disabled .el-input__inner {
  background: #152b4b;
  color: white;
  border: none;
}
.out {
  width: 100px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  height: 100%;
  font-family: "FZCuHeiSongS-B-GB";
}
.load{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 3;
}
</style>
