<template>
  <div class="wrap">
    <div class="head">
      <div>海丝路海区自然数据和地缘政治综合风险分析与区划系统</div>
    </div>
    <div class="loginbody">
      <div class="loginBox">
        <div class="login-left"></div>
        <div class="logindata">
          <div class="formdata">
            <div class="title">密码登录</div>
            <el-form ref="form" :model="form" :rules="rules">
              <el-form-item prop="username">
                <el-input
                  v-model="form.username"
                  clearable
                  placeholder="用户名"
                  prefix-icon="el-icon-user"
                ></el-input>
              </el-form-item>
              <el-form-item prop="password">
                <el-input
                  v-model="form.password"
                  clearable
                  placeholder="密码"
                  show-password
                  prefix-icon="el-icon-unlock"
                ></el-input>
              </el-form-item>
              <!-- <div class="Captcha">
              <el-form-item prop="Captcha">
                <el-input
                  v-model="form.Captcha"
                  clearable
                  placeholder="验证码"
                   prefix-icon="el-icon-key"
                ></el-input>
              </el-form-item>
              <div class="icon">
              </div>
            </div> -->

              <div class="butt">
                <el-button
                  type="primary"
                  round
                  @click.native.prevent="login('form')"
                  >登录</el-button
                >
              </div>
            </el-form>
          </div>
          <div class="tool">
            <!-- <div>
          <el-checkbox v-model="checked" @change="remenber"
            >记住密码</el-checkbox
          >
        </div> -->
            <!-- <div>
          <span class="shou" @click="forgetpas">忘记密码？</span>
        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getLogin } from "@/api/login/login";
// import { setToken } from "@/request/auth";
import { getToken, setToken } from "@/utils/auth";

export default {
  name: "login",
  data() {
    return {
      form: {
        password: "",
        username: "",
        Captcha: "",
      },
      checked: false,
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
    };
  },
  methods: {
    login(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.loadLogin();
        } else {
          return false;
        }
      });
    },
    // 登录请求
    async loadLogin() {
      let res = await getLogin({
        username: this.form.username,
        userpassword: this.form.password,
      });
      if (res.code == 200) {
        this.$message.success(res.message);
        setToken("user", res.access_token);
        setToken("isadmin", res.user.isadmin);
        // 登录成功后，重定向到首页并清除浏览历史记录
        this.$router.replace("/Humanities");
        window.history.replaceState(null, "", "/Humanities");
        // 添加监听器，当用户尝试通过URL直接访问登录页时，再次重定向到首页
        window.addEventListener("hashchange", this.handleHashChange);
      } else {
        this.$message.error(res.message);
      }
    },
    handleHashChange(event) {
      if (event.newURL.includes("/login")) {
        this.$router.replace("/Humanities");
        window.history.replaceState(null, "", "/Humanities");
      }
    },

    // remenber(data) {
    //   this.checked = data;
    //   if (this.checked) {
    //     localStorage.setItem("news", JSON.stringify(this.form));
    //   } else {
    //     localStorage.removeItem("news");
    //   }
    // },
    // forgetpas() {
    //   this.$message({
    //     type: "info",
    //     message: "功能尚未开发额😥",
    //     showClose: true,
    //   });
    // },
    // register() {},
  },
};
</script>

<style scoped>
.loginBox {
  width: 1200px;
  height: 500px;
  background: #ffffff;
  display: flex;
}
.wrap {
  width: 100%;
  height: 100vh;
  min-width: 1000px;
  background-image: url("../assets/png/微信图片_20231226102849.png");
   background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}
.head div {
  font-size: 50px;
}
.loginbody {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 1000px;
 
}
.login-left {
  width: 60%;
  height: 100%;
  background: #75acff;
  display: flex;
  align-items: center;
}
.logindata {
  width: 40%;
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 50px 0px;
}

.logintext {
  margin-left: 20px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.tool {
  display: flex;
  justify-content: space-between;
  color: #606266;
}

.butt {
  margin-top: 40px;
  text-align: center;
}
.butt .el-button {
  width: 370px;
  height: 55px;
  font-size: 17px;
}

.shou {
  cursor: pointer;
  color: #606266;
}
.formdata {
  width: 370px;
}
.Captcha {
  display: flex;
  justify-content: space-between;
}
.Captcha .el-input {
  width: 210px;
}
.icon {
  width: 140px;
  height: 55px;
  background: #b3b3b3;
}
::v-deep .el-input--suffix .el-input__inner {
  height: 55px;
}
::v-deep .el-input__icon {
  font-size: 24px;
}
::v-deep .el-input--prefix .el-input__inner {
  padding-left: 35px;
}

/*ui*/
/* /deep/ .el-form-item__label {
  font-weight: bolder;
  font-size: 15px;
  text-align: left;
}

/deep/ .el-button {
  width: 100%;
  margin-bottom: 10px;

} */
</style>
<style lang="less" scoped>
</style>

