<template>
  <div ref="radar" class="radar" :id="echarts" />
</template>

<script>
import * as echarts from "echarts";
// import io from 'socket.io-client';

export default {
  props: {
    // 接收父组件传过来的数据
    indicator: {
      type: Array,
      default: () => [],
    },
    series: {
      type: Array,
      default: () => [],
    },
    text: {
      type: String,
      default: () => '',
    },
    legend: {
      type: Array,
      default: () => [],
    },
    splitArea: {
      type: Object,
      default: () => {},
    },
  },
  name: "Radar",
  data() {
    return {
      instance: null,
      socketInstance: null,
      seriesData: "",
    };
  },
  created() {},
  watch: {
    // 父组件挂载的时候，通过调用接口获取的数据，第一次传递过来数值是空的，子组件拿取空数值挂载，
    // 父组件回调后获取的数据再传递给子组件，不会重绘图表，所以需要watch来监听数值的变化。
    indicator: {
      handler(newName, oleName) {
        this.drawChart();
      },
    },
    series: {
      handler(newName, oleName) {
        this.drawChart();
      },
    },
    legend: {
      handler(newName, oleName) {
        this.drawChart();
      },
    },
    text: {
      handler(newName, oleName) {
        this.drawChart();
      },
    },
    splitArea: {
      handler(newName, oleName) {
        this.drawChart();
      },
    },
  },
  beforeDestroy() {
    // 销毁图表实例
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    drawChart() {
      let myChart = echarts.init(this.$refs.radar, null, {
        width: 650,
        height: 500,
      });
      let option = {
        title: {
          text: this.text,
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: this.legend,
        radar: {
          indicator: this.indicator,
          splitArea: this.splitArea,
        },
        series: this.series,
      };

      myChart.setOption(option);
    },
  },
  computed: {
    echarts() {
      // id 随机生成
      return "echarts" + Math.random() * 100000;
    },
  },
  mounted: function () {
    this.drawChart();
  },
};
</script>

<style lang="less" scoped>
.charts {
  width: 20%;
  height: 20%;
}

.radar {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>
