<template>
  <div class="box">
    <el-scrollbar class="regional_table">
      <slot name="head"></slot>
      <el-table
        v-loading="loading"
        :header-row-style="{ height: '50px' }"
        :data="tableData"
        class="content-table"
        size="small"
        row-class-name="row"
        cell-class-name="column"
        :highlight-current-row="true"
        stripe
        :height="tableMaxHeight"
        :fixColumn="fixColumn"
        :selection="selection"
        @selection-change="handleSelectionChange"
        @row-click="rowClick"
        :row-style="rowStyle"
        :default-sort="defaultSort"
        fit
      >
        <el-table-column
          v-if="selection"
          type="selection"
          width="55"
          align="center"
        >
        </el-table-column>
        <el-table-column
          v-for="(item, index) in tableLabel"
          v-if="item.show !== 'false'"
          :key="index"
          :prop="item.prop"
          style="background: #ffff00"
          :width="item.width"
          :label="item.label"
          :align="item.align ? item.align : 'center'"
        >
          <template slot-scope="scope">
            <span
              v-if="
                !item.isImage &&
                !item.isLink &&
                !item.isSwitch &&
                !item.isPopover &&
                !item.isList &&
                !item.timestamp &&
                !item.split &&
                !item.resType &&
                !item.isMixWithUrl &&
                !item.isMixWithImg &&
                !item.isSlider &&
                !item.tooltip &&
                !item.isPlayUrl &&
                !item.input &&
                !item.isButton &&
                !item.inputNumber &&
                item.show !== 'false'
              "
              >{{ scope.row[item.prop] }}</span
            >
            <el-link
              v-if="
                item.isLink &&
                scope.row[item.prop] !== '' &&
                scope.row[item.prop] !== null
              "
              type="primary"
              target="_blank"
              :href="scope.row[item.prop].toString()"
              >网页链接</el-link
            >
            <div
              v-if="
                item.isImage &&
                scope.row[item.prop] !== '' &&
                scope.row[item.prop] !== null
              "
            >
              <span
                v-for="(img, i) in getImgIdList(scope.row[item.prop])"
                :key="i"
              >
                <img
                  v-if="
                    item.imgHeight !== '' &&
                    item.imgHeight !== null &&
                    item.imgHeight !== undefined
                  "
                  :src="img"
                  :width="item.imgWidth"
                  :height="item.imgHeight"
                  class="cover-image2"
                  @click="showBigImg(img)"
                />
                <img
                  v-else
                  :src="img"
                  :width="item.imgWidth"
                  :height="item.imgHeight"
                  class="cover-image"
                  @click="showBigImg(img)"
                />
              </span>
            </div>
            <el-switch
              v-if="item.isSwitch"
              v-model="scope.row[item.prop]"
              :active-value="item.onValue"
              :inactive-value="item.offValue"
              @change="changeStatus(scope.$index, scope.row)"
            ></el-switch>
            <!-- Popover 弹出框 -->
            <el-popover
              v-if="item.isPopover && scope.row[item.prop] !== ''"
              width="200"
              trigger="hover"
              :content="scope.row[item.prop]"
            >
              <el-button type="text" slot="reference">文本内容</el-button>
            </el-popover>
            <span v-if="item.isList">
              {{ dataFormat(scope.row[item.prop], item, item.typeList) }}
            </span>
            <span v-if="item.timestamp">
              {{ timeConvert(scope.row[item.prop]) }}
            </span>
            <span v-if="item.resType">
              {{ dataResFormat(scope.row[item.prop], item.typeList) }}
            </span>
            <span v-if="item.split">
              {{ splitFormat(scope.row[item.prop]) }}
            </span>
            <span v-if="item.isMixWithUrl">
              {{ nameString(scope.row[item.prop]) }}
              <el-link
                v-if="
                  httpString(scope.row[item.prop]) !== '' &&
                  httpString(scope.row[item.prop]) != null
                "
                type="primary"
                :href="httpString(scope.row[item.prop]).toString()"
              >
                内容链接
              </el-link>
            </span>
            <span
              v-if="
                item.isMixWithImg &&
                scope.row[item.prop] !== '' &&
                scope.row[item.prop] !== null
              "
            >
              {{ removeHttpString(scope.row[item.prop]) }}
              <div>
                <span
                  v-for="(img, i) in getImgIdList(
                    httpString(scope.row[item.prop])
                  )"
                  :key="i"
                >
                  <img
                    :src="img"
                    class="cover-image"
                    @click="showBigImg(img)"
                  />
                </span>
              </div>
            </span>
            <span v-if="item.isPlayUrl">
              <el-link
                v-if="
                  scope.row[item.prop] !== '' && scope.row[item.prop] !== null
                "
                type="primary"
                target="_blank"
                :href="scope.row[item.prop]"
                >点击播放</el-link
              >
            </span>
            <span v-if="item.isButton">
              <el-button
                v-if="
                  scope.row[item.prop] !== '' &&
                  scope.row[item.prop] !== null &&
                  scope.row[item.prop] !== undefined
                "
                type="primary"
                size="small"
                @click="buttonClick(scope.$index, scope.row, item.event)"
                >查看</el-button
              >
            </span>
            <el-slider
              v-if="item.isSlider"
              :v-model="parseInt(scope.row[item.prop])"
              show-input
            ></el-slider>
            <el-tooltip
              v-if="item.tooltip"
              effect="light"
              :content="item.content"
            >
              <i class="el-icon-question" />
            </el-tooltip>
            <el-input
              v-if="item.input"
              v-model.trim="scope.row[item.prop]"
            ></el-input>
            <el-input-number
              v-if="item.inputNumber"
              v-model.trim="scope.row[item.prop]"
            ></el-input-number>
          </template>
        </el-table-column>
        <el-table-column
          label="操作"
          v-if="fixColumn"
          :align="'center'"
          :width="fixWidth"
        >
          <template slot-scope="scope">
            <el-button
              v-if="fixEdit"
              size="medium "
              @click="edit(scope.$index, scope.row)"
              >{{fixEditName ? fixEditName : '编辑'}}
            </el-button>
            <el-button
              v-if="fixRemove"
              size="medium "
              @click="remove(scope.$index, scope.row)"
              >{{fixRemoveName ? fixRemoveName : '删除'}}
            </el-button>
            <el-button
              v-if="fixAdd"
              size="medium "
              @click="add(scope.$index, scope.row)"
              >{{fixAddName ? fixAddName : '新增'}}
            </el-button>
          </template>
        </el-table-column>
        <slot name="middle"></slot>
      </el-table>
      <slot name="bottom"></slot>
    </el-scrollbar>
  </div>
</template>
<script>
export default {
  name: "RouterTable",
  props: {
    tableData: {
      type: Array,
      default: () => {
        return [];
      },
    },
    tableLabel: {
      type: Array,
      default: () => {
        return [];
      },
    },
    multipleTable: {
      type: Array,
      default: () => {
        return [];
      },
    },
    tableMaxHeight: "",
    fixColumn: false,
    fixWidth: "200",
    fixEdit: false,
    fixRemove: false,
    fixAdd: false,
    selection: false,
    loading: false,
    rowStyle: "",
    defaultSort: null,
    fixEditName: null,
    fixRemoveName:null
  },
  data: function () {
    return {
      imgDialogVisible: false,
      formImg: {
        url: "",
      },
    };
  },
  methods: {
    handleSelectionChange(val) {
      this.$emit("handleSelectionChange", val);
    },
    rowClick(row, column, event) {
      this.$emit("rowClick", row, column, event);
    },
    edit(index, row) {
      this.$emit("edit", index, row);
    },
    remove(index, row) {
      this.$emit("remove", index, row);
    },
    add(index, row) {
      this.$emit("add", index, row);
    },
  },
};
</script>

<style lang="less" scoped>
::v-deep .el-table th.el-table__cell > .cell {
  font-size: 17px;
  color: #cdfbff;
}
//注意样式最好添加scoped，防止污染其他界面
::v-deep ::-webkit-scrollbar {
  //滚动条宽高，如果不需要显示滚动条可设置宽高为0
  width: 15px;
  height: 0px;
}
::v-deep ::-webkit-scrollbar-thumb {
  //滚动条颜色和圆角
  // background-color: #ffffff;
  border-radius: 3px;
}
.el-dialog__wrapper {
  top: 120px;
}
.regional_table .el-button {
  color: white;
  border: none;
  background: #1e67ea1f;
}
::v-deep .el-table::before {
  background-color: #e3e6ef00;
}
::v-deep .el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border: none;
}
::v-deep .el-table th.el-table__cell.is-leaf {
  border: none;
}
::v-deep .regional_table .el-table td {
  background-color: transparent !important;
  color: #ffffff;
  font-size: 14px;
}
.el-button--medium {
  padding: 8px 15px;
}
.regional_table {
  // justify-content: center;
  background: #13161b73;
  padding-bottom: 28px;
}
// 固定表头，防止切换数据时候，表格高度变化
::v-deep .regional_table{
    .el-table__header-wrapper{
        height: 50px;
    }
    .el-table__body-wrapper{
        height: calc(100% - 50px) !important;
    }
}

/*最外层透明*/
.regional_table /deep/ .el-table,
.regional_table /deep/ .el-table__expanded-cell {
  background-color: transparent;
  color: #606266;
}
/* 表格内背景颜色 */
.regional_table /deep/ .el-table th,
.regional_table /deep/ .el-table tr,
.regional_table /deep/ .el-table td {
  background-color: transparent !important;
  //表格字体颜色
  color: #ffffff;
  font-size: 14px;
}

.box {
  background: #1b294f;
  width: 100%;
  height: 80%;
}
</style>
<style lang="less">
::v-deep .el-input__inner {
  width: 150px;
  height: 45px;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-family: "FZCuHeiSongS-B-GB";
  font-size: 20px;
  border: 1px solid #2a4061;
}
.dialog .el-input__inner {
  width: 320px;
  color: black;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
.searchForm .el-form-item__label {
  display: flex;
  color: #ffffff;
  font-family: "FZCuHeiSongS-B-GB";
  font-size: 17px;
}
.el-table thead {
  background: #375b8f4a;
}
.el-table .cell {
  padding-left: 0px;
  padding-right: 0px;
}
.el-table--small .el-table__cell {
  padding: 9px 12px;
}
 .el-table td{
  height: 50px;
 }
</style>