html,body{

	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
}


*{
	padding: 0;
	margin: 0;
	list-style: none;
	-webkit-tap-highlight-color: transparent;

}

a,a:hover,a:active,a:focus{
	text-decoration: none;
}
input,button{
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;

}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fc{
	display: flex;
	align-items: center;
}
.fcc{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fc-bet{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex1{
	flex: 1;
}

.fc-h{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


@font-face {
  font-family: "DIN";
  src: url("DIN1451/DIN1451.woff2") format("woff2"),
       url("DIN1451/DIN1451.woff") format("woff"),
       url("DIN1451/DIN1451.ttf") format("truetype"),
       url("DIN1451/DIN1451.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.pageScreen{
  height: 1080px;
  width: 100%;
  font-size: 24px;
  position: fixed;
  overflow: hidden;
  left: 50%;
  top: 50%;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: left top;
  -moz-transform: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.webgl{
	width: 1920px;
	height: 1080px;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
.page-mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.page-head{
	width: 1851px;
	height: 67px;
	top: 25px;
	left: 35px;
	position: absolute;
	z-index: 10;
	.fcc;
	.title{
		padding-bottom: 5px;
		img{
			height: 43px;display: block;
		}
		h1{
			font-size: 32px;
				font-weight: 700;
				font-stretch: normal;
			line-height: 40px;
				letter-spacing: 0px;
				color: #ffffff;
				margin-left: 12px;
		}
	}
}
.page-box1{
	position: absolute;
	left: 21px;
	top: 79px;
	width: 430px;
}
.page-box2{
	position: absolute;
	left: 21px;
	top: 507px;
	width: 430px;
	.title-row{
		margin-bottom: 20px;
	}
}

.page-box3{
	position: absolute;
	left: 21px;
	top:920px;
	width: 430px;
	.title-row{
		margin-bottom: 20px;
	}
	.page-box-total .txt p{
		line-height: 1.4em;
		padding-top: 10px;
		margin-bottom: 5px;

	}
	.page-box-total{
		.item {
			flex: 1;
		}
	}
}
.jbz(){
	background-image: linear-gradient(180deg,#D8F2FF,#54C6FF);
	            background-clip:text;
	            -webkit-background-clip:text;
	            color: transparent;

}
body{
	color: #fff;
}
.title-row{
	height: 37px;
	padding-left: 31px;
	color:#fff;
	h3{
		font-size: 20px;
			font-weight: 700;
			font-stretch: normal;
			letter-spacing: 0px;
			.jbz();
			margin-right: 20px;
	}
	span{
		font-size: 12px;
			font-weight: normal;
			font-stretch: normal;
			letter-spacing: 0px;
			color: #3b82fd;
			line-height: 12px;
			transition: 0 center;
			transform: scale(.85) translateY(6px);
	}
}
.page-box1-total{
	padding-top: 18px;
	.icon{
		width: 62px;
		height: 52px;
		margin-right: 11px;text-align: center;
	}
	.txt{
		p{
			font-size: 13px;
				font-weight: normal;
				font-stretch: normal;
				line-height: 27px;
				letter-spacing: 0px;
				color: #afc1db;
		}
		b{
			font-family: "DIN";
			font-size: 30px;

				line-height: 32px;
				letter-spacing: 0px;
				color: #3b82fd;
		}
	}
	.des{
		padding-top: 19px;
		font-size: 13px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 17px;
			letter-spacing: 0px;
			color: #7080b5;
	}

}
.item  +.item  .des{
	text-align: right;
}

.page-box-total{
	// padding-top: 25px;
	.icon{
		width: 54px;
		height: 54px;
		margin-right: 8px;text-align: center;
	}
	.txt{
		p{
			font-size: 13px;
				font-weight: normal;
				font-stretch: normal;
				line-height: 27px;
				letter-spacing: 0px;
				color: #afc1db;
		}
		b{
			font-family: "DIN";
			font-size: 30px;

				line-height: 32px;
				letter-spacing: 0px;
				color: #3b82fd;
		}
	}
	.des{
		padding-top: 19px;
		font-size: 13px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 17px;
			letter-spacing: 0px;
			color: #7080b5;
	}
}


.page-box4{
	position: absolute;
	top: 79px;
	right: 21px;
	width: 430px;
}
.page-box4-txts{
	display: flex;
	flex-wrap: wrap;
	padding-top:5px;
	.item{
		padding-top: 8px;
		width:49.9999%;
		font-size: 13px;
		text-align: center;
			line-height: 27px;
			letter-spacing: 0px;
			color: #afc1db;
	}
	.b{
		font-family: "DIN";
		font-size: 30px;
			font-weight: 700;
			font-stretch: normal;
			line-height: 34px;
			letter-spacing: 0px;
			color: #3b82fd;
	}
}
.page-box5{
	position: absolute;
	top: 534px;
	right: 21px;
	width: 430px;
	&.on{
		top: 745px;
		.box5-chart-box{
			height: 170px;
		}
	}
}
.page-box-total.flex{
	flex-wrap: wrap;
	.item{
		width: 50%;
		padding: 5px 0;
	}
	.icon{
		width: 60px;
		height: 60px;
		position: relative;
		img{
			position: absolute;
			left: 50%;
			top: 50%;
			display: block;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	margin-bottom: 17px;
}

.bar-line{
	height: 8px;
	background: #3B82FD;
	position: relative;
	margin-bottom: 35px;
	.name{
		position: absolute;
		left: 0;
		font-size: 13px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 27px;
			letter-spacing: 0px;
			color: #afc1db;

			bottom: 100%;
	}
	.kw{
		font-size: 13px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 27px;
			letter-spacing: 0px;
			color: #3b82fd;
			position: absolute;
			right: 0;
			bottom: 100%;
	}
	.left{
		position: absolute;
		left: 0;
		bottom: 0;
		height: 8px;
		background: #0045BC;
		span{
			font-size: 13px;
				font-weight: normal;
				font-stretch: normal;
				line-height: 27px;
				letter-spacing: 0px;
				color: #3b82fd;
				position: absolute;
				right: 0;
				bottom: 100%;
				white-space: nowrap;
		}
		span.on{
			right: auto;
			left: 40px;
		}
		span.on2{
			right: auto;
			left: 200px;
		}
	}
}
.box5-chart-box{
	position: relative;
	height: 227px;
}
.page-tabs-row{
	position: absolute;
	left: 447px;
	bottom: 35px;
	.tab{
		.fcc;
		margin-right: 20px;
		width: 183px;
			height: 101px;

			border-radius: 10px;
			border: solid 1px rgba(0, 0, 0, 0);
	}
	.icon{
		width: 86px;
		height: 72px;
		//background: url(./itembg.png) no-repeat;
		margin-right: 13px;
		text-align: center;
		img{
			position: relative;top: 7px;
		}
	}
	h3{
		font-size: 25px;
			font-weight: normal;
			font-stretch: normal;
			letter-spacing: 1px;
			color: #aabce4;
			line-height: 28px;
	}
	.tab.on{
		background-color: #041039;
			border-radius: 10px;
			border: solid 1px #0090ff;
			box-shadow: 0 0 15px rgba(0, 69, 188,1);
			h3{
				color: #fff;
				font-weight: bold;
			}
	}
}


.popBox{
	width: 462px;

		background-color: rgba(16, 29, 61, .8);
		border: solid 2px rgba(107, 172, 252, 0.38);
		position: absolute;left: 433px;
		top: 191px;
		z-index: 100;

		&:before{
			content: "";
			width: 17px;
			height: 17px;
			position: absolute;
			left: -2px;
			top: -2px;
			//background: url(./l-t.png) no-repeat;
		}
		&:after{
			content: "";
			width: 17px;
			height: 17px;
			position: absolute;
			right: -2px;
			top: -2px;
			//background: url(./l-t.png) no-repeat;
			transform: rotate(90deg);
		}
		.inner{
			&:before{
				content: "";
				width: 17px;
				height: 17px;
				position: absolute;
				left: -2px;
				bottom: -2px;
				//background: url(./l-t.png) no-repeat;
				transform: rotate(-90deg);
			}
			&:after{
				content: "";
				width: 17px;
				height: 17px;
				position: absolute;
				right: -2px;
				bottom: -2px;
				//background: url(./l-t.png) no-repeat;
				transform: rotate(180deg);
			}
		}
		.hd{
			padding-left: 27px;padding-top: 17px;
			.icon{
				width: 38px;
				height: 38px;
				margin-right: 16px;
			}
			.txt{
				color: #fff;
				font-size: 14px;
				h3{
					font-size: 18px;
				}
			}
		}
		.bd-txt{
			padding-left: 81px;
			display: flex;
			flex-wrap: wrap;
			padding-top: 20px;
			padding-bottom: 5px;
			padding-right: 60px;
			justify-content: space-between;
			.col{
				width: 125px;
				display: flex;
				font-size: 12px;
				padding-bottom: 12px;

					position: relative;

				p{
					color: #fff;
					opacity: .8;
					transform-origin: 0 center;
					transform: scale(0.86);white-space: nowrap;
				}
				h4{opacity: .8;
					font-size: 12px;
				}
				b{
					position: absolute;width: 100px;
					text-align: right;
					top: 0;
					left: 50px;
					color: rgba(119, 253, 251, 1);
				}
			}
		}
		.xh{
			padding-right: 21px;
			span{
				font-size: 12px;
					font-weight: normal;
					font-stretch: normal;
					letter-spacing: 0px;
					color: rgba(255, 255, 255, 1);
					opacity: 0.8;
			}
			b{
				font-size: 16px;
					font-weight: normal;
					font-stretch: normal;
					letter-spacing: 1px;
					color: rgba(119, 253, 251, 1);
			}
			strong{
				font-size: 32px;
					font-weight: normal;
					font-stretch: normal;
					letter-spacing: 2px;
					color: rgba(119, 253, 251, 1);
			}
		}
}
.popBox2{
	width: 465px;
	left: 1017px;
	top: 173px;
	.bd-txt{
		padding-bottom: 0;
		.col{
			padding-bottom: 0;
		}
	}
}
.popBox3{
	width: 465px;
	left: 433px;
	top: 417px;
}
.popBox4{
	width: 465px;
	left: 1017px;
	top: 520px;
}
.popBox5{
	width: 465px;
	left: 1017px;
	top: 722px;
}
.fan-chart-box{
	position: relative;
	height: 210px;
	margin-bottom: 8px;
}
