html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
input,
button {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.fc {
  display: flex;
  align-items: center;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fc-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex1 {
  flex: 1;
}
.fc-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@font-face {
  font-family: "DIN";
  src: url("DIN1451/DIN1451.woff2") format("woff2"), url("DIN1451/DIN1451.woff") format("woff"), url("DIN1451/DIN1451.ttf") format("truetype"), url("DIN1451/DIN1451.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.pageScreen {
  height: 1080px;
  width: 1920px;
  font-size: 24px;
  position: fixed;
  overflow: hidden;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: left top;
  -moz-transform: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.webgl {
  width: 1920px;
  height: 1080px;
}
.webgl img {
  display: block;
  width: 100%;
  height: 100%;
}
.page-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: url(./bg-mask.png) no-repeat;*/
}
.page-head {
  /*background: url(./head-title.png) no-repeat;*/
  width: 1851px;
  height: 67px;
  top: 25px;
  left: 35px;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-head .title {
  padding-bottom: 5px;
}
.page-head .title img {
  height: 43px;
  display: block;
}
.page-head .title h1 {
  font-size: 32px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 12px;
}
.page-box1 {
  position: absolute;
  left: 21px;
  top: 79px;
  width: 430px;
}
.page-box2 {
  position: absolute;
  left: 21px;
  top: 507px;
  width: 430px;
}
.page-box2 .title-row {
  margin-bottom: 20px;
}
.page-box3 {
  position: absolute;
  left: 21px;
  top: 920px;
  width: 430px;
}
.page-box3 .title-row {
  margin-bottom: 20px;
}
.page-box3 .page-box-total .txt p {
  line-height: 1.4em;
  padding-top: 10px;
  margin-bottom: 5px;
}
.page-box3 .page-box-total .item {
  flex: 1;
}
body {
  color: #fff;
}
.title-row {
  /*background: url(./titlebg.png) no-repeat;*/
  height: 37px;
  padding-left: 31px;
  color: #fff;
}
.title-row h3 {
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0px;
  background-image: linear-gradient(180deg, #D8F2FF, #54C6FF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 20px;
}
.title-row span {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #3b82fd;
  line-height: 12px;
  transition: 0 center;
  transform: scale(0.85) translateY(6px);
}
.page-box1-total {
  padding-top: 18px;
}
.page-box1-total .icon {
  /*background: url(./zybg.png) no-repeat;*/
  width: 62px;
  height: 52px;
  margin-right: 11px;
  text-align: center;
}
.page-box1-total .txt p {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #afc1db;
}
.page-box1-total .txt b {
  font-family: "DIN";
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #3b82fd;
}
.page-box1-total .des {
  padding-top: 19px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: #7080b5;
}
.item + .item .des {
  text-align: right;
}
.page-box-total .icon {
  width: 54px;
  height: 54px;
  margin-right: 8px;
  text-align: center;
}
.page-box-total .txt p {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #afc1db;
}
.page-box-total .txt b {
  font-family: "DIN";
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #3b82fd;
}
.page-box-total .des {
  padding-top: 19px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 17px;
  letter-spacing: 0px;
  color: #7080b5;
}
.page-box4 {
  position: absolute;
  top: 79px;
  right: 21px;
  width: 430px;
}
.page-box4-txts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}
.page-box4-txts .item {
  padding-top: 8px;
  width: 49.9999%;
  font-size: 13px;
  text-align: center;
  line-height: 27px;
  letter-spacing: 0px;
  color: #afc1db;
}
.page-box4-txts .b {
  font-family: "DIN";
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 34px;
  letter-spacing: 0px;
  color: #3b82fd;
}
.page-box5 {
  position: absolute;
  top: 534px;
  right: 21px;
  width: 430px;
}
.page-box5.on {
  top: 745px;
}
.page-box5.on .box5-chart-box {
  height: 170px;
}
.page-box-total.flex {
  flex-wrap: wrap;
  margin-bottom: 17px;
}
.page-box-total.flex .item {
  width: 50%;
  padding: 5px 0;
}
.page-box-total.flex .icon {
  width: 60px;
  height: 60px;
  position: relative;
}
.page-box-total.flex .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translateX(-50%) translateY(-50%);
}
.bar-line {
  height: 8px;
  background: #3B82FD;
  position: relative;
  margin-bottom: 35px;
}
.bar-line .name {
  position: absolute;
  left: 0;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #afc1db;
  bottom: 100%;
}
.bar-line .kw {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #3b82fd;
  position: absolute;
  right: 0;
  bottom: 100%;
}
.bar-line .left {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  background: #0045BC;
}
.bar-line .left span {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #3b82fd;
  position: absolute;
  right: 0;
  bottom: 100%;
  white-space: nowrap;
}
.bar-line .left span.on {
  right: auto;
  left: 40px;
}
.bar-line .left span.on2 {
  right: auto;
  left: 200px;
}
.box5-chart-box {
  position: relative;
  height: 227px;
}
.page-tabs-row {
  position: absolute;
  left: 447px;
  bottom: 35px;
}
.page-tabs-row .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 183px;
  height: 101px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
}
.page-tabs-row .icon {
  width: 86px;
  height: 72px;
  /*background: url(./itembg.png) no-repeat;*/
  margin-right: 13px;
  text-align: center;
}
.page-tabs-row .icon img {
  position: relative;
  top: 7px;
}
.page-tabs-row h3 {
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #aabce4;
  line-height: 28px;
}
.page-tabs-row .tab.on {
  background-color: #041039;
  border-radius: 10px;
  border: solid 1px #0090ff;
  box-shadow: 0 0 15px #0045bc;
}
.page-tabs-row .tab.on h3 {
  color: #fff;
  font-weight: bold;
}
.popBox {
  width: 462px;
  background-color: rgba(16, 29, 61, 0.8);
  border: solid 2px rgba(107, 172, 252, 0.38);
  position: absolute;
  left: 433px;
  top: 191px;
  z-index: 100;
}
.popBox:before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: -2px;
  top: -2px;
  /*background: url(./l-t.png) no-repeat;*/
}
.popBox:after {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  right: -2px;
  top: -2px;
  /*background: url(./l-t.png) no-repeat;*/
  transform: rotate(90deg);
}
.popBox .inner:before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: -2px;
  bottom: -2px;
  /*background: url(./l-t.png) no-repeat;*/
  transform: rotate(-90deg);
}
.popBox .inner:after {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  right: -2px;
  bottom: -2px;
  /*background: url(./l-t.png) no-repeat;*/
  transform: rotate(180deg);
}
.popBox .hd {
  padding-left: 27px;
  padding-top: 17px;
}
.popBox .hd .icon {
  width: 38px;
  height: 38px;
  margin-right: 16px;
}
.popBox .hd .txt {
  color: #fff;
  font-size: 14px;
}
.popBox .hd .txt h3 {
  font-size: 18px;
}
.popBox .bd-txt {
  padding-left: 81px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 60px;
  justify-content: space-between;
}
.popBox .bd-txt .col {
  width: 125px;
  display: flex;
  font-size: 12px;
  padding-bottom: 12px;
  position: relative;
}
.popBox .bd-txt .col p {
  color: #fff;
  opacity: 0.8;
  transform-origin: 0 center;
  transform: scale(0.86);
  white-space: nowrap;
}
.popBox .bd-txt .col h4 {
  opacity: 0.8;
  font-size: 12px;
}
.popBox .bd-txt .col b {
  position: absolute;
  width: 100px;
  text-align: right;
  top: 0;
  left: 50px;
  color: #77fdfb;
}
.popBox .xh {
  padding-right: 21px;
}
.popBox .xh span {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.8;
}
.popBox .xh b {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  color: #77fdfb;
}
.popBox .xh strong {
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #77fdfb;
}
.popBox2 {
  width: 465px;
  left: 1017px;
  top: 173px;
}
.popBox2 .bd-txt {
  padding-bottom: 0;
}
.popBox2 .bd-txt .col {
  padding-bottom: 0;
}
.popBox3 {
  width: 465px;
  left: 433px;
  top: 417px;
}
.popBox4 {
  width: 465px;
  left: 1017px;
  top: 520px;
}
.popBox5 {
  width: 465px;
  left: 1017px;
  top: 722px;
}
.fan-chart-box {
  position: relative;
  height: 210px;
  margin-bottom: 8px;
}
::v-deep .el-message--success {
  background-color: rgba(7, 30, 60, 0.5);
  border-color: rgba(7, 30, 60, 0.5);
}
