<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
	export default {
		name: 'app',
		data() {
			return {
				
			}	
		}
		

	}
</script>
<style>	
	@import './assets/font/font.css';
	body,html{
		margin: 0;
		padding: 0;
	}
	
</style>
