<template>
  <div class="custom-popup" @click.self="$emit('close')">
    <h3>区域信息</h3>
    <p>ID: {{ popupContent.id }}</p>
    <!-- 根据你的需求添加更多属性 -->
  </div>
</template>

<script>
export default {
name: "CustomPopup",
  props: {
    popupContent: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.custom-popup {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
}
</style>